* {
    padding: 0px;
    margin: 0px;
    box-sizing:border-box;
    list-style: none;
}

nav {
    display: flex;
    justify-content: center;
    position: relative;
    top:-45px
}

.nav-element {
    width: 150px;
    min-width: 100px;
    padding: 10px 0;
    text-align: center;
    color: black;
    background-color: seagreen;
    font-size: 20px;
}
.nav-element:hover {
    background-color: rgb(20, 63, 39);
    color: white;
}

.nav-element:hover .sub-menu-child{
    display: block;
}
.sub-menu-parent{
    position: relative;
}
.sub-menu-child{
    position:absolute;
    top:43px;
    display: none;
}
.burger{
    left: 0px;
    transition: 1s ease;
    position:absolute;
    font-size: 50px;
    
}

.burger:hover ~ nav{
    top:0px;
    
}

.nav-parent{
    display: flex;
    justify-content: center;
}
.burger:hover{
    transform: rotateZ(90deg);
}

