* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    display: flex;
}



.whites{
   background-color: blanchedalmond;
   width: 500px;
   height: 500px;
   border-radius: 50%;
   
   position: relative;
}
.blue{
   background-color: blue;
   position: absolute;
top:150px;
left:150px;
   width: 200px;
   height: 200px;
   border-radius: 50%;
   animation: rollsmyeyes 3s linear infinite;
}
.iris{
    background-color: black;
    width: 100px;
   height: 100px;
   top:50px;
left:50px;
    position: absolute;
    border-radius: 50%;
}
@keyframes rollsmyeyes {
    0% {
        transform: translateX(0px);
    }
    20% {
        transform: translateX(-150px);
    }
    40%{
        transform: translateX(150px);
    }
    60%{
        transform: translateX(0px);
        transform: translateY(-150px);
    }
    80%{
        transform: translateX(0px);
        transform: translateY(150px);
    }
    100%{
        transform: translateX(0px);
    }
} 